<!-- Page Content -->
<div class="container">
<!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Crazy Ideas
                    <small>Isn't this awsome?</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
  <% @articles.each do |article| %>
        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
              <h3><%= article.title %></h3>
              <% if article.photo? %>
                  <%=link_to image_tag(article.photo.url(), :class => "img-responsive"), article_path(article)%>
              <% end %>                
            </div>
            <div class="col-md-5">
                <p><%= article.text %></p>
                <%= link_to 'Edit', edit_article_path(article), :class =>"btn btn-primary" %>
                <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' }, :class => "btn btn-danger pull-right" %>
            </div>
        </div>
        <!-- /.row -->
        <!--hr>
<% end %>
  </div>
  <!-- /.container -->
